@charset "utf-8";
/* CSS Document */

/*------------- NAV -----------*/
.nav_background {
    background-color: rgb(152, 255, 136);
    margin-top: 50px;
    padding: 20px;
    margin-top: -20px;
    word-spacing: 5px;
    text-align: center;
}

body {
    background-color:rgb(192, 192, 192);
}

.banner {
    height: -20px;
}

nav a {
    color: rgb(121,138,127);
    text-decoration: none;
    font-size: 2em;
    font-family: 'Bangers';
}

/*------------- HOME -----------*/

.main_picture img {
    width: 100%;
    margin-top: -900px;
    margin-bottom: 250px;
    }

    .background {
    background-color: rgb(192, 192, 192);
    padding: 300px;
    width: 10.3%;
    
    }
    
    .welcome_header h1 {
    text-align: center;
    font-family: 'Bangers';
    font-size: 50px;
    margin-top: -200px;
}

    .logo img {
        margin-bottom: 100px;
        margin-top: -200px;
}

    .logo_small img {
        width: 50%;
        margin-bottom: 400px;
        margin-top: -500px;
        margin-left: 300px;
    }

/*------------- EVENTS -----------*/

.box_1 img {
    width: 284px;
    height: 240px;
    display: block;
}

.box_1 h1 {
    color: white;
    font-family: 'Bangers';
    flex-basis: 100%;
}

.box_1 {
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(152, 255, 136);
}

.box_2 img {
    width: 284px;
    height: 240px;
    display: block;
}

.box_2 h1 {
    color: white;
    font-family: 'Bangers';
    flex-basis: 100%;
}

.box_2 {
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(152, 255, 136);
}

.box_3 img {
    width: 284px;
    height: 240px;
    display: block;
}

.box_3 h1 {
    color: white;
    font-family: 'Bangers';
    flex-basis: 100%;
}

.box_3 {
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(152, 255, 136);
}

/*---------- ABOUT US -----------*/

.gruppe img {
    width: 100%;
}

.banner_article img {
    width: 106%;
}

.lorem_text p {
    text-align: center;
}

.full_name label {
    margin-left: 10px;
    margin-bottom: 30px;
}

.full_name input {
    margin-left: 10px;
    margin-top: 20px;
    width: 50%;
    background-color: white;
    padding: 10px;
}

.e-mail_address label {
    margin-left: 10px;
}

.e-mail_address input {
    margin-left: 10px;
    margin-top: 20px;
    width: 50%;
    background-color: white;
    padding: 10px;
}

.subject label {
    margin-left: 10px;
    margin-top: 10px;
}

.subject input {
    margin-left: 10px;
    margin-top: 20px;
    width: 50%;
    background-color: white;
    padding: 10px;
}

.your_message label {
    margin-left: 10px;
    width: 30%;
    margin-left: 20px;
}

.your_message input {
    margin-left: 10px;
    margin-top: 20px;
    width: 10%;
    padding: 40%;
    background-color: white;
}

.kontakt_side {
    background-color:rgb(192, 192, 192);
    padding-bottom: 50px;
    padding-top: 20px;
    width: 106%;
}

footer {
    background-color: rgb(152, 255, 136);
    text-align: center;
    padding: 20px;
    color: black;
}

/*------------- ARTICLE -----------*/

    h3 {
        text-align: center;
    }

    p {
        float: 10px;
    }

    .lorem_text p {
        padding-left: 300px;
    }

/*------------- FOOTER -----------*/

footer {
    font-family: 'Bangers';
    color: rgb(121,138,127);
    font-size: 30px;
}